$min-contrast-ratio: 3.2;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "_variables.scss";

@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/bootstrap";

$min-contrast-ratio: 3.2;
.dark {
	/* redefine theme colors for dark theme */
	$primary: #335476;
	$secondary: #e3cf7f;
	$success: #a97d84;
	$danger: #e82135;
	$info: #3c6ec7;
	$warning: #ffc107;
	$light: #ebebeb;
	$dark: #212121;

	$theme-colors: ("primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"danger": $danger,
		"info": $indigo,
		"dark": $dark,
		"light": $light,
	);

	/* redefine theme color variables */
	@each $color,
	$value in $theme-colors {
		--#{$variable-prefix}#{$color}: #{$value};
	}

	/* redefine theme color rgb vars (used for bg- colors) */
	$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

	@each $color,
	$value in $theme-colors-rgb {
		--#{$variable-prefix}#{$color}-rgb: #{$value};
	}

	$body-color: $light;
	$body-bg: $dark;

	--#{$variable-prefix}body-color: #{$body-color};
	--#{$variable-prefix}body-bg: #{$body-bg};

	@import "node_modules/bootstrap/scss/bootstrap";
}



.d-light-none {
	display: none !important;
}
.d-dark-none {
  display: block!important;
}

.dark {
  .d-light-none {
	  display: block!important;
  }
  .d-dark-none {
	  display: none !important;
  }
}